<nav class="footer-nav full-bleed">
  <a class="nav-icon" href="#settings">
    {{> svg-settings }}
    <span>settings</span>
  </a>

  <a class="nav-icon" href="#discover">
    {{> svg-discover }}
    <span>discover</span>
  </a>

  <a class="nav-icon" href="#home">
    {{> svg-home }}
    <span>home</span>
  </a>

  <a class="nav-icon" href="#profile">
    {{> svg-profile }}
    <span>profile</span>
  </a>
  <!--
  <a class="nav-icon" href="#trade">
    {{> svg-trade }}
    <span>trade</span>
  </a>

  <a class="nav-icon" href="#add-pin">
    {{> svg-add }}
    <span>add pin</span>
  </a>
  -->
</nav>
