<div class="footer-nav-wrapper full-bleed container">
  <nav class="footer-nav">
    <a class="nav-icon" href="/snippits.html">
      {{> svg-settings }}
      <span>settings</span>
    </a>

    <a class="nav-icon" href="/index.html">
      {{> svg-discover }}
      <span>discover</span>
    </a>

    <a class="nav-icon" href="/index.html">
      {{> svg-home }}
      <span>home</span>
    </a>

    <a class="nav-icon" href="/login.html">
      {{> svg-profile }}
      <span>profile</span>
    </a>
    <!--
    <a class="nav-icon" href="#trade">
      {{> svg-trade }}
      <span>trade</span>
    </a>

    <a class="nav-icon" href="#add-pin">
      {{> svg-add }}
      <span>add pin</span>
    </a>
    -->
  </nav>
</div>
