<form class="global-search-form full-bleed container" action="/" method="post" >
  <label class="sr-only" for="search">search</label>
  <div class="global-search-wrapper">
    <button type="submit">
      {{>svg-search}}
      <span class="sr-only">Submit</span>
    </button>
    <input id="search" name="search" placeholder="Search pins" type="search" >
  </div>
</form>
