<div class="header-util">
  <span class="logo">pinster</span>
  <nav class="header-util-nav">
    <a href="/">home</a>
    <a href="/snippits.html">about</a>
    <a href="/snippits.html">support</a>
  </nav>
</div>
