<div class="header-nav-wrapper full-bleed container">
  <div class="header-nav">
    <a class="header-nav-back" href="#back">
      <span class="sr-only">back</span>
      {{> svg-angle-left class="white"}}
    </a>

    <span>You Are Here</span>

    <button class="header-nav-modal-toggle modal-toggle" data-modal="form-modal-nav">
      {{> svg-ellipse-v class="white"}}
    </button>
  </div>
</div>

{{! just drop this form at the bottom of the body !}}
{{> sample-form form-id="form-modal-nav"}}
