<div class="pin-collection">
  {{#each pins}}
    <div class="pin-list-item">
      <img class="pin-list-img" src="{{@root.assets}}/img/fpo-pins/{{this.img}}" alt="{{this.description}}" />
      <div class="pin-list-title">{{this.name}}</div>
    </div>
  {{/each}}
</div>
