<div id="{{form-id}}" class="form-modal" aria-hidden="true" aria-labelledby="title-{{form-id}}" role="dialog">
  <form action="#">
    <div class="form-group">
      <label for="email">email</label>
      <input type="email" id="email" />
    </div>

    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" />
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <textarea id="description" name="description" rows="5"></textarea>
    </div>

    <div class="form-group radio-toggle">
      <input type="radio" class="sr-only" id="visibility-public" name="visibilty" checked="checked" />
      <label for="visibility-public">public</label>
      <input type="radio" class="sr-only" id="visibility-private" name="visibilty" />
      <label for="visibility-private">private</label>
    </div>

    <div class="form-group form-action">
      <input type="submit" id="submit" name="visibilty" value="save changes" />
      <input type="reset"  id="cancel" name="visibilty" value="cancel" />
    </div>
  </form>
  <button class="pin-modal-dismiss">
    {{> svg-close }}
  </button>
</div>
