---
title: Pinster!
---

<div class="login-splash full-bleed">

  {{> raccoon class="white" }}
  <h1>pinster</h1>

  <a href="#login" class="auth-link">
    <span>login with facebook</span>
  </a>

  <a href="#login" class="auth-link">
    <span>login with google</span>
  </a>

  <a href="#login" class="auth-link">
    <span>login with twitter</span>
  </a>
</div>

