---
title: sample pin page
layout: single.hbs
---

<section class="pin-page">
  <h1>Single Pin</h1>
  <p>Etiam Vehicula Ornare Sem</p>
  <p>Lorem Magna Fermentum Ornare Vulputate</p>
  <p>Maecenas faucibus mollis interdum.</p>

  <div class="pin-tags">
    <span>Nullam</span>
    <span>quis</span>
    <span>risus</span>
    <span>eget</span>
    <span>urna</span>
    <span>mollis</span>
    <span>ornare</span>
  </div>

  <div class="pin-viewer">
    <img class="pin-img" src="//via.placeholder.com/350x250/0C17D5/ffffff" alt="{{this.description}}" />
  </div>

  <div class="pin-thumbs">
    <div class="pin-thumb active">
      <img class="pin-img" src="//via.placeholder.com/350x250/0C17D5/ffffff" alt="{{this.description}}" />
    </div>
    <div class="pin-thumb">
      <img class="pin-img" src="//via.placeholder.com/350x250/3ebeae/ffffff" alt="" />
    </div>
    <div class="pin-thumb">
      <img class="pin-img" src="//via.placeholder.com/250x350/fdba1b/ffffff" alt="" />
    </div>
    <div class="pin-thumb">
      <img class="pin-img" src="//via.placeholder.com/450x250/e86359/ffffff" alt="" />
    </div>
    <div class="pin-thumb">
      <img class="pin-img" src="//via.placeholder.com/250x350/440933/ffffff" alt="" />
    </div>
  </div>
</section>
