.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($purple, 0.85);

  &.active { display: block; }
}

.pin-modal-toggle { cursor: pointer; }

.pin-modal {
  display: none;
  position: fixed;
  top: $gutter;
  right: $gutter;
  left: $gutter;
  z-index: 1;
  background-color: $white;
  max-height: calc(100vh - 50px);
  overflow: scroll;

  &.active { display: block; }
}

.pin-modal-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: rgba($white, 0.75);
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  appearance: none;
}

.pin-modal-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  > * { flex: 1 1 auto; }
}

.pin-modal-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pin-modal-content {
  padding: 0 $gutter $gutter;

  h1 { font-size: 1.2em; }

  p {
    margin: 0.5em 0 0;
    padding: 0;
  }
}

.pin-modal-tags {
  margin: 5px 0 $gutter;
  border-width: 1px 0;
  border-style: solid;
  border-color: $copy-dark;
  padding: 5px 0;
}

.pin-modal-thumbs {
  display: flex;
  flex-wrap: wrap;

  .pin-modal-img {
    flex: 0 0 auto;
    margin: 0 8px 8px 0;
    width: calc(25% - 8px);
    min-width: 80px;
    height: 80px;
    overflow: hidden;
  }
}

body:not(.is-touch) {
  .pin-modal-dismiss {
    &:hover {
      background-color: $white;
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .pin-modal-container {
    flex-direction: row;
  }

  .pin-modal {
    top: 10%;
    right: 50px;
    left: 50px;
  }

  .pin-modal-viewer {
    align-self: stretch;
    width: 60%;
  }

  .pin-modal-content {
    padding: 0 $gutter $gutter;
    width: 40%;
  }
}
