.sr-only {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);

  &.with-focus {
    &:active,
    &:focus {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      white-space: normal;
      clip: auto;
    }
  }
}

.full-padding { padding: ($gutter * 3) 0; }
.side-padding { padding: 0 $gutter; }

.top-margin       { margin-top:    $gutter; }
.top-margin-lg    { margin-top:    $gutter * 2; }

.bottom-margin    { margin-bottom: $gutter; }
.bottom-margin-lg { margin-bottom: $gutter * 2; }

@media screen and (min-width: $screen-tablet) {
  .full-padding { padding: $gutter * 3; }
  .side-padding { padding: 0 ($gutter * 3); }
}
