$white: #fff;
$gray-light: #d3d4d4;
$gray-dark: #a7a9ac;
$black: #000;

$blue-light: #19b5fe;
$blue-medium: #3f80c0;
$blue-brand: #4d688c;
$blue-deep: #253545;
$blue-dark: #2d3e4f;

$social-facebook: #3b5998;
$social-linkedin: #007bb5;
$social-twitter: #1da1f2;
$social-vimeo: #1ab7ea;
$social-youtube: #f00;

$copy-light: $white;
$copy-gray: $gray-light;
$copy-dark: $black;

$link-rest: $blue-deep;
$link-select: $blue-medium;
$link-active: $blue-brand;

$border: #86888b;
$border-gray-dark: $gray-dark;
$border-light: #dedede;
$border-black: $black;

$cta-copy: $copy-light;
$cta-border: $copy-light;
$cta-background: $blue-medium;
$cta-background-hover: $blue-brand;

$cta-secondary-copy: $blue-medium;
$cta-secondary-copy-hover: $blue-brand;
