<!DOCTYPE html>
<html lang="en">
{{>html-head}}
<body>
  <header class="container">
    {{> global-search }}
  </header>
  <main class="container">
    {{body}}
  </main>
  <footer class="container">
    {{> footer-menu }}
  </footer>

  <script src="{{@root.assets}}/main.min.js"></script>
  <div class="modal-overlay" tabindex="-1"></div>
</body>
</html>
