<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">

  <title>{{title}}</title>
  <link href="{{@root.assets}}/main.min.css" rel="stylesheet" type="text/css" />
</head>
